/**********
    HEADER - FOOTER
*/
header, footer {
  color: black; }

/*
    HEADER - FOOTER
**********/
/**********
    HEADER
*/
header {
  height: 80vh;
  position: relative; }
  header img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  header div {
    position: absolute;
    top: 2rem;
    left: 10%;
    text-align: center;
    color: #CE7D47; }
    header div > a h2 {
      font-size: 4em;
      text-shadow: 1px 0 0 #272727, -1px 0 0 #272727, 0 1px 0 #272727, 0 -1px 0 #272727, 1px 1px #272727, -1px -1px 0 #272727, 1px -1px 0 #272727, -1px 1px 0 #272727; }
    header div span {
      font-size: 2em;
      font-weight: 600;
      color: #272727;
      text-shadow: 1px 0 0 #CE7D47, -1px 0 0 #CE7D47, 0 1px 0 #CE7D47, 0 -1px 0 #CE7D47, 1px 1px #CE7D47, -1px -1px 0 #CE7D47, 1px -1px 0 #CE7D47, -1px 1px 0 #CE7D47; }
  header > a {
    position: absolute;
    top: 4rem;
    right: 5%;
    font-size: 4em;
    text-shadow: 1px 0 0 #272727, -1px 0 0 #272727, 0 1px 0 #272727, 0 -1px 0 #272727, 1px 1px #272727, -1px -1px 0 #272727, 1px -1px 0 #272727, -1px 1px 0 #272727; }
    header > a i {
      color: #CE7D47; }

.header-banniere {
  height: 35vh; }
  .header-banniere img {
    -o-object-position: center top;
    object-position: center top; }

/*
    HEADER
**********/
/**********
    FOOTER
*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 7rem;
  margin-top: 7%;
  background-color: #CE7D47;
  font-size: 1.2em;
  font-weight: 700;
  color: #272727; }

/*
    FOOTER
**********/
/**********
    QUERIES
*/
@media (max-width: 768px) {
  header > a, .header-banniere > a {
    top: 12rem;
    right: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    header > a i, .header-banniere > a i {
      font-size: 0.8em; }
  header img, .header-banniere img {
    -o-object-position: 60%;
    object-position: 60%; } }

/*
    QUERIES
**********/
