@import "variables";

/**********
    HEADER - FOOTER
*/
header, footer {
    color: black;
}
/*
    HEADER - FOOTER
**********/



/**********
    HEADER
*/
header {
    height: 80vh;
    position: relative;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    div {
        position: absolute;
        top: 2rem;
        left: 10%;
        text-align: center;
        color: $myOrange;
        > a {
            h2 {
                font-size: 4em;
                    text-shadow: 1px 0 0 $myGray, -1px 0 0 $myGray, 0 1px 0 $myGray, 0 -1px 0 $myGray, 1px 1px $myGray, -1px -1px 0 $myGray, 1px -1px 0 $myGray, -1px 1px 0 $myGray;
            }
        }
        span {
            font-size: 2em;
            font-weight: 600;
            color: $myGray;
            text-shadow: 1px 0 0 $myOrange, -1px 0 0 $myOrange, 0 1px 0 $myOrange, 0 -1px 0 $myOrange, 1px 1px $myOrange, -1px -1px 0 $myOrange, 1px -1px 0 $myOrange, -1px 1px 0 $myOrange;
        }
    }
    > a {
        position: absolute;
        top: 4rem;
        right: 5%;
        font-size: 4em;
        text-shadow: 1px 0 0 $myGray, -1px 0 0 $myGray, 0 1px 0 $myGray, 0 -1px 0 $myGray, 1px 1px $myGray, -1px -1px 0 $myGray, 1px -1px 0 $myGray, -1px 1px 0 $myGray;
        i {
            color: $myOrange;
        }
    }
}

.header-banniere {
    height: 35vh;
    img {
        object-position: center top;
    }
}
/*
    HEADER
**********/



/**********
    FOOTER
*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 7rem;
    margin-top: $margin-into-card;
    background-color: $myOrange;
    font-size: 1.2em;
    font-weight: 700;
    color: $myGray
}
/*
    FOOTER
**********/



/**********
    QUERIES
*/
@media (max-width: 768px) {

    header, .header-banniere {
        > a {
            top: 12rem;
            right: inherit;
            left: 50%;
            transform: translateX(-50%);
            i {
                font-size: 0.8em;
            }
        }
        img {
            object-position: 60%;
        }
    }

}
/*
    QUERIES
**********/
